@page
@model AplikacjeWeboweAspNet.Pages.Books.IndexModel
@{
    ViewData["Title"] = "List of books";
}

<div class="d-flex justify-content-between align-items-center my-4">
<h1>List of Books</h1>
<a class="btn btn-primary btn-sm" asp-page="Create">New Book</a>
</div>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by title:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary btn-sm" /> |
            <a asp-page="./Index" class="btn btn-outline-primary btn-sm">Back to full List</a>
        </p>
    </div>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort">
                    @Html.DisplayNameFor(model => model.ListBooks[0].Title)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.AuthorSort">
                    @Html.DisplayNameFor(model => model.ListBooks[0].Author)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ReleaseDateSort">
                    @Html.DisplayNameFor(model => model.ListBooks[0].ReleaseDate)
                </a>
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var book in Model.ListBooks)
{
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author.FirstName @book.Author.LastName</td>
                    <td>@book.ReleaseDate.ToShortDateString()</td>
                    <td>
                        <a asp-page="Details" asp-route-id="@book.ID" class="btn btn-outline-primary btn-sm">Details</a>
                        <a asp-page="Edit" asp-route-id="@book.ID" class="btn btn-outline-primary btn-sm" >Edit</a>
                        <a asp-page="Delete" asp-route-id="@book.ID" class="btn btn-outline-danger btn-sm">Delete</a>
                    </td>
                </tr>
}
    </tbody>
</table>
