@page
@model AplikacjeWeboweAspNet.Pages.Authors.IndexModel
@{
    ViewData["Title"] = "List of authors";
}

<div class="d-flex justify-content-between align-items-center my-4">
    <h1>List of Authors</h1>
    <a class="btn btn-primary btn-sm" asp-page="Create">New Author</a>
</div>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary btn-sm" /> |
            <a asp-page="./Index" class="btn btn-outline-primary btn-sm">Back to full List</a>
        </p>
    </div>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FirstNameSort">
                    @Html.DisplayNameFor(model => model.ListAuthors[0].FirstName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.LastNameSort">
                    @Html.DisplayNameFor(model => model.ListAuthors[0].LastName)
                </a>
           </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model.ListAuthors)
        {
            <tr>
                <td>@author.FirstName</td>
                <td>@author.LastName</td>
                <td>
                   <a asp-page="Details" asp-route-id="@author.ID" class="btn btn-outline-primary btn-sm">Details</a>
                    <a asp-page="Edit" asp-route-id="@author.ID" class="btn btn-outline-primary btn-sm">Edit</a>
                    <a asp-page="Delete" asp-route-id="@author.ID" class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
